<!DOCTYPE html>
<html ng-app="AspNetMVCAngular" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <h1>{{models.helloAngular}}</h1>

    <input type="text" ng-model="models.helloAngular" />


    <ul>
        <li><a href="/#/routeOne">Route One</a></li>
        <li><a href="/#/routeTwo/6">Route Two</a></li>
        <li><a href="/#/routeThree">Route Three</a></li>
    </ul>

    <ul>
        <li><a href="/#/login">Login</a></li>
        <li><a href="/#/register">Register</a></li>
    </ul>

    <div ng-view></div>
<!--Lazy load the scripts after the html content is loaded-->

    
    <!--This will load the remote scripts to the app-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    
    <!--This will load the local scripts in this bundle to the app-->
    @Scripts.Render("~/bundles/AspNetMVCAngular") 
</body>
</html>